*.xml
*.csv

*.zip
*.db
update.txt
.idea
*.log
front-end/site/node_modules

*.pyc

!dev/webserver/template/fake_data/*.json
front-end/testing/webserver/template/assets/index-ehrF132Z.css
front-end/testing/webserver/template/index.html
front-end/testing/webserver/template/server_log.log
front-end/testing/webserver/template/vite.svg
front-end/testing/webserver/template/server_log.log
front-end/testing/webserver/template/assets/index-BN_qSf7X.js
front-end/testing/webserver/template/server_log.log
front-end/testing/new/new_webserver/server_log.log
front-end/testing/new/new_webserver/server_log.log
front-end/testing/new/new_webserver/server_log.log
unstable/testing/new/new_webserver/assets/index-BUMBHi6r.js
unstable/testing/new/new_webserver/assets/index-ehrF132Z.css
unstable/testing/new/new_webserver/assets/index-fDkI_3Z-.js
unstable/testing/new/new_webserver/assets/index-ZoRagV1f.css
unstable/testing/new/new_webserver/index.html
unstable/testing/new/new_database/nptg_naptan.db-shm
unstable/testing/new/new_database/nptg_naptan.db-wal
unstable/testing/new/new_webserver/index.html
unstable/testing/new/new_webserver/assets/index-ehrF132Z.css
unstable/testing/new/new_webserver/assets/index-BUMBHi6r.js
